html {word-break:keep-all;font-family: 'NotoSansKR', 'Sans-serif'; width: 100%; font-size:13px; letter-spacing: 0px; color:#333; box-sizing: border-box;}
body{ background: white; padding-top: 64px;}

/* 레이아웃 */
.container {width: 1200px; margin:auto;}

/* 헤더 */
header {height: 63px; border-bottom: 1px solid #6300FF;position: fixed;
  top: 0;
  /* width: 100% */
  left: 0;
  right: 0;
  background-color: white;
  transition: top 0.2s ease-in-out;
  z-index: 2;
  box-sizing: border-box;
}
.nav-up {top:-64px;} /* 페이지 스크롤 시 up */
.navigation {position: relative;padding: 22px 0; display: flex;line-height: 1.15;}
.circle {display:none; width: 40px; height: 40px; background-color: #00FF00; border-radius: 50%;position: absolute; z-index: -1; top: 50%; left:20px; transform: translateY(-55%); left: -20px;}
.logo {display: flex; position: relative;}
.logo h1 {font-family: 'Neue Machina'; font-weight: 800; font-size: 24px; margin-right: 10px;}
.logo h1:hover .circle {display: block;}
.logo h1:hover {font-color:#6300FF;}
.line {height:20px;border-left: 2px solid #333; margin-right: 10px;}
.logo p {font-weight: bold; font-size: 18px;}
nav {position:absolute;display: flex; right: 0;}
.guide {}
.navM {font-family: Neue Machina; font-weight: 800; font-size: 20px;text-align: center; float: left;}
.navM:first-child {margin-right: 80px;}
.guide li {position: relative;}
.guide li:hover .circle {display: block;}

/* 모바일 과목메뉴 */

.frame {	display: none;
            height: 50px;
            line-height: 50px;
            position: fixed;
            top: 63px;
            left: 0;
            width: 100%;
            transition: top 0.2s ease-in-out;
            z-index: 1;
            

            /*overflow: hidden;*/
        }
.mainM-up {top:-63px;}
.frame ul {
            list-style: none;
            margin:0;
            padding: 0;
            height: 100%;
            font-size: 16px;
        }
.frame ul li {
            float: left;
            /*width: 120px;*/
            height: 100%;
            margin: 0 0 0 0;
            padding: 0;
            background:#ffffff;
            color: #ddd;
            text-align: center;
            cursor: pointer;
        }        
.frame ul li a {margin-right: 20px; font-weight: 700; color: #999999;}
.frame ul li a:first-child {margin-left: 15px;}

/* 과목메뉴 */
.mainM {margin:auto; display: flex; justify-content: center;margin: 56px 0px;}
.mainM * {font-weight: 700; font-size: 16px; margin-right: 53px; color: #999999;}
.mainM *:first-child {color:#333;}
.mainM *:last-child {margin-right: 0px;}
.mainM a:hover {color: #333;}
.mainM .line{border-left: 1px solid #999999;}

/* 메뉴 과목 설명 2개시 */
.explanation {margin:auto; justify-content: space-between; width: 100%;  display: flex; box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16); margin-bottom: 56px; background-color:#ffffff; z-index: -1; }
.textbox {width: 44%; padding:30px;}
.explanation h2 {font-weight: 700; font-size: 16px; color: #999999; margin-bottom: 5px;}
.explanation p {font-weight: 400; font-size: 14px; color: #484848; line-height: 150%;} 

/* 메뉴 과목 설명 1개시 */
/*.explanation {margin:auto;justify-content: space-between; width: 50%;  display: flex;box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16); margin-bottom: 56px;}
.textbox {width: 100%;}*/


/* 화면 너비 0 ~ 1220px */
@media (max-width: 1220px){
    .container {width: 100%;}
    .row {padding: 0 15px;}
}

@media (max-width: 700px){
	header .line {display: none;}
    .logo p {display: none;}
    .frame {display: block;}
    body {padding-top: 150px;}
	.mainM {display: none;}
    .logo h1, .guide li, .mainM a {-webkit-tap-highlight-color:transparent;}
    
}
@media (max-width: 480px){
	.navM:first-child {margin-right: 24px;}
	.explanation {flex-direction: column;}
	.explanation h2{ margin-bottom: 16px;}
	.explanation p {font-size: 16px;}
	.textbox {width: 84%; padding:8%;}
	.textbox:nth-child(2) {padding-top: 16px;}

}

/*호버 효과 제거*/

